<p id="notice"><%= notice %></p>

<h1>Listing Dailymails</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Slotid</th>
      <th>Siteid</th>
      <th>Sitename</th>
      <th>Pricelevel</th>
      <th>Requestid</th>
      <th>Adunit</th>
      <th>Dealid</th>
      <th>Domain</th>
      <th>Country</th>
      <th>State</th>
      <th>Dma</th>
      <th>Connectionspeed</th>
      <th>Os</th>
      <th>Browser</th>
      <th>Devicetype</th>
      <th>Language</th>
      <th>Dspname</th>
      <th>Brandid</th>
      <th>Brandname</th>
      <th>Campaignid</th>
      <th>Usermatchstatus</th>
      <th>Timestamp</th>
      <th>Winrate</th>
      <th>Bidrate</th>
      <th>Clearprice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Dailymail', new_dailymail_path %>
